<template ngFor let-col [ngForOf]="columns" let-lastCol="last">
  <th #headerCell
        (click)="datagrid.sort($event,col)"
        [ngClass]="{
            'ui-sortable-column': col.sortable,
            'ui-state-active': datagrid.isSorted(col),
            'ui-resizable-column': datagrid.resizableColumns,
            'ui-selection-column':col.selectionMode,
            'hidden': col.hidden
        }"
        (dragstart)="datagrid.onColumnDragStart($event)"
        (dragover)="datagrid.onColumnDragover($event)"
        (dragleave)="datagrid.onColumnDragleave($event)"
        (drop)="datagrid.onColumnDrop($event)"
        (mousedown)="datagrid.onHeaderMousedown($event,headerCell)"
        (keydown)="datagrid.onHeaderKeydown($event,col)">
        <template template-loader [element]="col" [parent]="datagrid" type="headerTemplate"></template>
  </th>
</template>
<th *ngIf="hasAction"></th>
